.image{
  background-image: url("./assets/image.jpg");
  background-repeat  : no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  opacity: 0.9;
  background-size: cover;
}
.content{
  filter: blur(0px);
}